@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


header{
    background: rgb(31, 90, 31) 20% url(./images/huntington.png);
    padding: 60px 0px;
    text-align: center;
    height: 15%;
    width: 100%;
}
h1{
    font-family: 'Roboto', san-serif;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 2px 6px 3px black;
    color: #fff;
    padding-top: 30px;
}
.intro{
    color: white;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
.summary{
    color: rgb(35, 58, 39);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
.preamble{
    color: rgb(35, 58, 39);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
.explanation{
    color: rgb(35, 58, 39);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
#zen-participation{
    background: rgb(152, 199, 158) url(./images/bamboo.png);
    width: auto;
    margin: 0;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
}
#zen-benefits{
    background: rgb(152, 199, 158) url(./images/bamboo.png);
    width: auto;
    margin: 0;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    padding-top: 5px;
}
.requirements{
    color: rgb(35, 58, 39);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}

p[role=contentinfo]{
    background: rgb(31, 90, 31) 20% url(./images/huntington.png);
    padding: 60px 0px;
    color: rgb(240, 235, 235);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
footer{
    background-color: #144347;
    padding: 60px 0px;
    font-size: 75px;
    text-align: center;
    height: 15%;
    width: 100%;
    transition: border-radius 3s;
    transition-timing-function: ease;
}
.footer a{
    width: 70px;
    height: 50px;
    background-color: rgb(153, 192, 194);
    transition: border-radius 3s;
    transition-timing-function: ease;
}
footer a:hover{
    border-radius: 50%;
    background: #5E7C7E;

}
.design-name {
    color: rgb(35, 58, 39);
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}
#design-archives{
    background: rgb(152, 199, 158) url(./images/bamboo.png);
    width: auto;
    margin: 0;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
}
#zen-resources{
    background: rgb(152, 199, 158) url(./images/bamboo.png);
    width: auto;
    margin: 0;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
